doctype html(lang='en')
head
    title Account Verification with Node.js and Express
    // Include Font Awesome Icons
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    // Twitter Bootstrap included for some basic styling
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    |         
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    |     
    |         
    link(rel='stylesheet', href='/css/main.css')
    |         
    link(rel='stylesheet', href='/css/slider.css')
    |         
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    |         
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    |         
    script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    |           
    script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    |         
    script(src='/js/main.js')
    |         
    script(src='/js/slider.js')
    //
      <link rel='stylesheet', href='/css/materialize.css'>
      <link(rel='stylesheet', href='/css/materialize.min.css'>
  body
    // Bootstrap-powered nav bar
    header#header(style="background-image: url('/14.jpg');width:100%;background-size:100% ")
      nav#nav.mobile-nav
        .navbar.navbar-inverse.navbar-transparent.navbar-fixed-top.opaque-navbar
          .navbar-inner
            .container
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                  i.fa.fa-bars
                |                 
                a.navbar-brand(href='#') Presto_Demo
              |                 
              #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.pull-right
                  li
                    a(href='/') Buy With presto 
                  |                         
                  li
                    a(href='/') FAQ 
                  |                         
                  li
                    a(href='/')  Business
                  |               
                  |                         
                  li
                    a(href='/') About us
                  |                          
                  li
                    a(href='/users/new') Sign Up
                  |                         
                  li
                    a(href='/login') Sign In
        |     
        |      
        #main-slider.slider
          #slider_Wrapper
            img.slide(src='/14.jpg')
            |               
            img.slide(src='/15.jpg')
            |               
            img.slide(src='/16.jpg')
            |               
            img.slide(src='/17.jpg')
    |  
    div
      a.scroll-down(href='#', address='true')
    #content
      section.section
        .container-fluid
          .row
            .col-xs-12.col-md-4
              h3 HI This is Demo !No hidden fees
              |                     
              p hi there is no demo fees
            |             
            .col-xs-12.col-md-4
              h3 HI This is Demo !No hidden fees
              |                     
              p hi there is no demo fees
            |             
            .col-xs-12.col-md-4
              h3 HI This is Demo !No hidden fees
              |                     
              p hi there is no demo fees
    footer.footer_bottom
      .container-fluid
        .row
          .col-xs-6.col-sm-3.col-lg-2
            a.navbar-brand(href='#') Presto_Demo
          |             
          .col-xs-6.col-sm-3.col-lg-2
            h5 FOR CONSUMERS
            |                 
            ul
              li
                a(href='/') Buy With presto 
              |                     
              li
                a(href='/') FAQs 
          |             
          .col-xs-6.col-sm-3.col-lg-2
            h5 Business
            |                 
            ul
              li
                a(href='/') Partners 
              |                         
              li
                a(href='/') Blog 
              |                         
              li
                a(href='/') Company
              |               
              |                         
              li
                a(href='/') Resources
          |             
          .col-xs-6.col-sm-3.col-lg-2
            h5 presto
            |                     
            ul
              li
                a(href='/') About Us 
              |                         
              li
                a(href='/') Career 
              |                         
              li
                a(href='/') Press
          |             
          .col-xs-6.col-sm-3.col-lg-2
            h5 Help
            |                 
            ul
              li
                a(href='/') Terms 
              |                         
              li
                a(href='/') Privacy 
              |                         
              li
                a(href='/') Contac Us
          |             
          .col-xs-6.col-sm-3.col-lg-2
            ul.social-icons
              h5 Follow Us 
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-facebook
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-twitter
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-rss
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-youtube
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-linkedin
              |         
              li
                a.social-icon(href='')
                  i.fa.fa-google-plus

